.bottom_block {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 14px 14px 0px 0px;
    background: #ffffff;
}
.Avatar__shadow {
    width: unset;
    left: unset;
    top: unset;
}